@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#inicio {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.content-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  color: white;
  gap: 40px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.left-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 300px;
}

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  min-width: 300px;
  margin-right: 12%;
}

@media (max-width: 768px) {
  .content-overlay {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .left-content, .right-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: unset;
    width: 100%;
    margin-right: 0;
  }

  .button-container {
    justify-content: center;
  }
}

.content-overlay h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.content-overlay button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  pointer-events: auto;
}

.content-overlay .button-primary {
  background-color: #007bff;
  color: white;
}

.content-overlay .button-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

#tituloprincipal {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 4.5em;
  color: white;
}

#project-title-container {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3em;
  color: white;
}