@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0; /* Garante que não há margens padrão */
  padding: 0; /* Garante que não há preenchimento padrão */
  overflow-x: hidden; /* Evita rolagem horizontal indesejada */
}

/* Estilos para a primeira seção */
#inicio {
  position: relative; /* Pai para os elementos absolutos internos */
  width: 100%;
  height: 100vh; /* Define a altura da seção para ocupar a tela inteira */
  display: flex; /* Para centralizar o conteúdo */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Cor do texto padrão para esta seção */
  text-align: center;
}

.background-container {
  width: 100%;
  height: 100%; /* Ocupa 100% da altura do pai (#inicio) */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.content-overlay {
  position: relative; /* Muda de absolute para relative, ou mantem absolute mas dentro do #inicio */
  width: 100%;
  height: 100%; /* Ocupa 100% da altura do pai (#inicio) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
  text-align: center;
  /* pointer-events: none; Removido para permitir interações com botões */
}

/* Estilos para a segunda seção */
#tecnologias {
  width: 100%;
  min-height: 100vh;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adiciona um pouco de padding */
  box-sizing: border-box; /* Garante que padding não aumente o tamanho total */
}

#project-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  color: white;
  max-width: 100;
  text-align: center;
}

/* Estilos de botões e texto principal mantidos como estavam, mas com as mudanças que discutimos */
.content-overlay h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.content-overlay button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  pointer-events: auto;
}

.content-overlay .button-primary {
  background-color: #007bff;
  color: white;
}

.content-overlay .button-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

#tituloprincipal {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 5em;
  color: white;
}